<div class="container class-container">
    <div class="jumbotron">
        <div class="row text-center">
            <h2 class="create-title">WELCOME</h2>
            <hr>
            <h2>ADMIN PANEL ANIM-AL</h2>
        </div>
    </div>
</div>